<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865380392736-u9ve4lcng4ddqrtn4d2743j4s5ld2vpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865380392736-u9ve4lcng4ddqrtn4d2743j4s5ld2vpc</string>
	<key>API_KEY</key>
	<string>AIzaSyBDyq-35WyjoxB4qNJ-rdDPOdrlPSa6MI4</string>
	<key>GCM_SENDER_ID</key>
	<string>865380392736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdox.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-bf617</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-bf617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865380392736:ios:55d611eb1bf8948fd8c145</string>
</dict>
</plist>